[project]
	description = Tips & Tricks to do things on Git,Ubuntu and other tools that developers commonly use. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sougat818
[access "refs/for/refs/*"]
	read = group user/sougat818
	push = group user/sougat818
	label-Code-Review = -2..+2 group user/sougat818
	label-Verified = -1..+1 group user/sougat818
	rebase = group user/sougat818
	removeReviewer = group user/sougat818
	submit = group user/sougat818
[access "refs/heads/*"]
	read = group user/sougat818
	create = group user/sougat818
	push = +force group user/sougat818
	pushMerge = group user/sougat818
[access "refs/tags/*"]
	push = +force group user/sougat818
	pushTag = group user/sougat818
	pushSignedTag = group user/sougat818
